* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #010000;
    font-weight: bold;
}

body {
    background-color: #800080;
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #800080 0%,
            #ff0000 50%,
            #ff8c00 100%);
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glass li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: spin 5s linear infinite;
    bottom: -150px;
}

.glass li:nth-child(1) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.glass li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.glass li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.glass li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.glass li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.glass li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.glass li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.glass li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.glass li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.glass li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

html, body {
    height: 100%;
}


body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
    /* Para garantir que a altura do corpo ocupe toda a tela */
    background-image: url("IoT.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
    background-color: #f30c0c00;
    font: #000000;
    box-shadow: 0 0 20px #000000, 0 0 60px #000000, 0 0 90px #000000;
}

.logo {
    max-height: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 55px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #060606;
    background: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
    transition-delay: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #ffc400;
    box-shadow: 0 0 20px #eeff00, 0 0 50px #eeff00, 0 0 80px #eeff00;
    transition-delay: 0.2s;
}

input:checked+.slider {
    background-color: #ffffff;
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 0.2s;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: powderblue;
    border-radius: 5px;
    text-align: center
}

button {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    align-items: center;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: linear-gradient(to bottom, #007bff, #0056b3);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    align-items: center;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

input[type=submit] {
    margin-right: 20px;
    border: none;
    background: linear-gradient(to bottom, #007bff, #0056b3);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
}

.switch-row {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
}

.switch-button {
    position: relative;
    display: flex;
    width: 80px;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-name {
    margin-top: -25px;
}

.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
    background-color: #ff0000;
    background: #000000;
    box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
    transition-delay: 0.2s;
}

.slider-button:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 5px;
    bottom: 5px;
    background-color: rgb(0, 0, 0);
    transition: .2s;
    border-radius: 50%;
}

input:checked+.slider-button {
    background-color: #11ff00;
    background: #11ff00;
    box-shadow: 0 0 20px #11ff00, 0 0 50px #11ff00, 0 0 80px #11ff00;
    transition-delay: 0.2s;
}

.slider-button:before {
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 0.2s;
}

input:checked+.slider-button:before {
    transform: translateX(35px);
}

.slider-button.round {
    border-radius: 50px;
}

.slider-button.round:before {
    border-radius: 50%;
}

footer {
    background-color: #f1f1f100;
    padding: 0.1rem;
    text-align: center;
}

.dark-mode {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.dark-mode header,
.dark-mode footer {
    background-color: #ffffff00;
    background: #ffffff00;
    box-shadow: 0 0 10px #fdfdfd3f, 0 0 40px #ffffff48, 0 0 80px #ffffff3a;
    transition-delay: 0.2s;
}

@media (max-width: 368px) {

    .h1 {
        justify-content: space-between;
        align-items: center;
        font-size: 5px;
    }
    .switch-container {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    html, body {
        height: 100vh;
    }

    main {
        height: 50vh;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        gap: 1px;
    }

    footer {
        text-align: center;
        margin-bottom: 10%;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 32px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition-delay: 0.2s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 4px;
        transition-delay: 0.2s;
    }

    input:checked+.slider:before {
        transform: translateX(24px);
    }

    .slider.round {
        border-radius: 50px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}