html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: white;
}
p {
  font-size: 2rem;
}
.topnav {
  overflow: hidden;
  background-color: #0a1128;
}
body {
  background-color: #000;
  margin: 0;
}
.content {
  padding: 5%;
}
.card-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  background-color: rgb(54, 54, 54);
  box-shadow: 2px 2px 12px 1px rgba(23, 23, 23, 0.593);
}
.card-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}
