/* Define fonte base */
body {
  lang: "pt-br";
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.2s ease;
  position: relative;
  min-height: 50vh;
  /* Para garantir que a altura do corpo ocupe toda a tela */
  background-image: url("IoT.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Alterar as cores e estilos no modo escuro */
.dark-mode header {
  background-color: rgba(51, 51, 51, 0);
  color: #ffffff;
}

.dark-mode body {
  background-color: #000000;
  color: #fff;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

/* Esconder a imagem de dark mode quando o modo claro está ativado */
.light-mode .dark-mode-image {
  background-color: rgba(51, 51, 51, 0);
  max-width: 128px;
  max-height: 128px;
  display: inline-block;
}

/* Esconder a imagem de light mode quando o modo escuro está ativado */
.dark-mode .light-mode-image {
  background-color: rgba(51, 51, 51, 0);
  max-width: 128px;
  max-height: 128px;
  display: inline-block;
}

/* Definir o tamanho das imagens */
.dark-mode-image,
.light-mode-image {
  display: none;
}

#dark-mode-switch {
  /* altura da imagem */
  padding: 0px;
  /* remova o padding do botão */
  border: none;
  /* remova a borda do botão */
  background: none;
  /* remova o fundo do botão */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  /* ou outro valor que você preferir */
  top: 50%;
  transform: translateY(-400%);
  position: absolute;
  left: 15%;
  height: auto;
}

#dark-mode-switch span {
  display: inline-block;
  margin-left: auto;
  background: none;
  color: #f39303;
  font-size: 20px;
  white-space: nowrap;
  height: auto;
}

/* Estilos do cabeçalho */
header {
  background-color: rgba(51, 51, 51, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px;
  max-width: 10%;
  height: auto;
}

.header-title {
  font-size: 1.5em;
  margin: 0;
}

@media (max-width: 600px) {
  .header-title {
    font-size: 1.2em;
  }
}

.header-content {
  flex-direction: column;
  align-items: center;
}

.header-content img {
  position: absolute;
  top: 9%;
  left: 90%;
  transform: translateY(-50%);
  width: 96px;
  height: 96px;
}

/* Estilos para o botão de alternância de tema */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 0, 0);
  border-color: #ffffff;
  border-style: solid;
  border-radius: 7px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 33px;
  width: 33px;
  left: 5px;
  bottom: 5px;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 7px;
}

.slider-text.off {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #00ff11;
  text-transform: uppercase;
  transition: 0.4s;
  opacity: 1;
}

input:not(:checked) + .slider + .slider-text.on {
  opacity: 0;
  color: #ff0000;
}

input:not(:checked) + .slider + .slider-text.off {
  opacity: 1;
  color: #22ff00;
}

.slider-text.on {
  position: absolute;
  top: 50%;
  left: 64.5%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  transition: 0.4s;
  opacity: 1;
}

input:checked + .slider {
  background-color: #00ff11;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Estilos para tabelas */
table {
  border-collapse: unset;
  width: 100%;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 10px;
}

.column.left {
  order: 1;
}

.column.right {
  order: 2;
}

/* Estilos para agrupar os botões em grupos de 4 em 4 em linhas diferentes */
.tg {
  width: 100%;
  margin-top: 20px;
}

.tg tr:nth-child(4n + 1) {
  clear: both;
}

.tg td {
  width: 25%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Estilos responsivos para o #dark-mode-switch */
@media (max-width: 600px) {
  #dark-mode-switch {
    position: absolute;
    margin-top: -45px;
    justify-content: center;
    align-items: center;
  }

  #dark-mode-switch span {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
    order: 0;
  }
}

/* Estilos para o texto centralizado e branco */
.centered-text {
  text-align: center;
}

/* Estilo do rodapé */
footer {
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  width: 100%;
  padding: 2px 2px 2px 0px;
  /* altera a altura do footer para 100px */
}

@media only screen and (max-width: 600px) {
  /* Estilos para telas menores que 600 pixels de largura */
}

/* Estilos responsivos */
@media (max-width: 600px) {
  header {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: rgba(51, 51, 51, 0);
    color: #000000;
    font-size: 25px;
  }

  body {
    background-color: #ffffff;
    color: #000000;
  }
}

@media (prefers-color-scheme: light) {
  .light-mode .dark-mode-image {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode .light-mode-image {
    display: none;
  }
}

@media (max-width: 6000px) {
  .dark-mode-image,
  .light-mode-image {
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  tg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  table {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .centered-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-size: 100vw;
  }
}
