* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* Define fonte base */
body {
  display:flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  margin: 3px;
  flex-grow: 1;
  lang: "pt-br";
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.2s ease;
  height: 100vh;
}

/* Alterar as cores e estilos no modo escuro */
.dark-mode header {
  background-color: #333;
  color: #ffffff;
}

.dark-mode body {
  background-color: #000000;
  color: #fff;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

/* Esconder a imagem de dark mode quando o modo claro está ativado */
.light-mode .dark-mode-image {
  background-color: #333;
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
}

/* Esconder a imagem de light mode quando o modo escuro está ativado */
.dark-mode .light-mode-image {
  background-color: #333;
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
}

/* Definir o tamanho das imagens */
.dark-mode-image,
.light-mode-image {
  display: none;
}

#dark-mode-switch {
  /* altura da imagem */
  padding: 0;
  /* remova o padding do botão */
  border: none;
  /* remova a borda do botão */
  background: none;
  /* remova o fundo do botão */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  /* ou outro valor que você preferir */
}

#dark-mode-switch span {
  display: inline-block;
  margin-left: auto;
  color: #fbfbfb;
  font-size: 15px;
  white-space: nowrap;
}

/* Estilos do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  max-width: 100%;
  margin: auto;
}

h1 {
  margin: auto;
}

/* Estilos para o botão de alternância de tema */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px
}

.switch input {
  display: none
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 0, 0);
  border-color: #ffffff;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 7px
}

.slider:before {
  position: absolute;
  content: "";
  height: 33px;
  width: 33px;
  left: 5px;
  bottom: 5px;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #000000;
  border-style: solid;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 7px
}

.slider-text.off {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #00ff11;
  text-transform: uppercase;
  transition: .4s;
  opacity: 1;
}

input:not(:checked)+.slider+.slider-text.on {
  opacity: 0;
  color: #ff0000;
}

input:not(:checked)+.slider+.slider-text.off {
  opacity: 1;
  color: #22ff00;
}

.slider-text.on {
  position: absolute;
  top: 50%;
  left: 64.5%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  transition: .4s;
  opacity: 1;
}

input:checked+.slider {
  background-color: #00ff11;
}

input:checked+.slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(50px);
  transform: translateX(50px)
}

/* Estilos para tabelas */
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 10 50px;
}

/* Estilos para o texto centralizado e branco */
.centered-text {
  text-align: center;
  display:block;
  flex-wrap: wrap;
  justify-content: space-between;

}

/* Estilos responsivos */
@media (max-width: 320px) {
  header {
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 100%;
    margin: auto;
  }
}

@media (max-width: 320px) {
  header {
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #333;
    color: #fff;
  }

  body {
    background-color: #ffffff;
    color: #000000;
  }
}

@media (prefers-color-scheme: light) {
  .light-mode .dark-mode-image {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode .light-mode-image {
    display: none;
  }
}

@media (max-width: 320px) {
  .dark-mode-image,
  .light-mode-image {
    max-width: 10%;
    max-height: 10%;
  }
}

@media screen and (max-width: 320px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}

@media screen and (max-width: 320px) {
  table {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .centered-text {
    font-size: 18px;
  }
}